{% extends 'log/base.html' %}

{% block title %}Status da Entrega - Sistema de Logística{% endblock %}

{% block content %}
<section class="hero hero-small">
    <div class="container">
        <div class="hero-content">
            <h1>🚛 Andamento e Historico</h1>
            {% if resultado %}
                <p>Você buscou por: <b>{{ dados }}</b></p>
            {% endif %}
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        {% if resultado %}
        <p>Você buscou por: <b>{{ resultado.codigo_rastreio }}</b></p>
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Endereço de Origem</th>
                            <th>Endereço de Destino</th>
                            <th>Status</th>
                            <th>Data de solicitação</th>
                            <th>Data prevista para entrega</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ resultado.endereco_origem }}</td>
                            <td>{{ resultado.endereco_destino }}</td>
                            <td>{{ resultado.status }}</td>
                            <td>{{ resultado.data_solicitacao }}</td>
                            <td>{{ resultado.data_entrega_prevista }}</td>
                            <td>{{ resultado.obs }}</td>
                        </tr>
        {% else %}
            <p>Nenhum entrega encontrada.</p>
        {% endif %}
                         <a href="{% url 'home' %}" class="btn-action btn-edit">Nova busca</a>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}