{% extends 'log/base.html' %}

{% block title %}Lista de Veículos - Sistema de Logística{% endblock %}

{% block content %}
<section class="hero hero-small">
    <div class="container">
        <div class="hero-content">
            <h1>📦 Entregas da Rota</h1>
            <a href="{% url 'list_rota' %}" class="btn-secondary">← Voltar</a>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código de Rastreio</th>
                        <th>Cliente</th>
                        <th>Destino</th>
                        <th>CEP</th>
                        <th>Status</th>
                        <th>Capacidade</th>
                        <th>Data da Solicitação</th>
                        <th>Data Prevista para entrega</th>
                        <th>Data real da entrega</th>
                        <th>Observações</th>
                        <th>Rota</th>
                        <th class="actions-column">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrega in entregas %}
                    <tr>
                        <td>#{{ entrega.id }}</td>
                        <td>{{ entrega.codigo_rastreio }}</td>
                        <td>#{{ entrega.cliente }}</td>
                        <td>{{ entrega.endereco_destino }}</td>
                        <td>{{ entrega.cep_destino }}</td>
                        <td>{{ entrega.status }}</td>
                        <td>{{ entrega.capacidade_necessaria }}</td>
                        <td>{{ entrega.data_solicitacao }}</td>
                         <td>{{ entrega.data_entrega_prevista }}</td>
                        <td>{{ entrega.data_entrega_real }}</td>
                        <td>{{ entrega.obs }}</td>
                        <td>{{ entrega.rota }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}